.myfav::before {
    content: "\f487";
}
.myfav.active:hover {
    cursor: pointer;
}
.myfav.selected {
    color:  red;
}
.myfav{
    color: lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}