.myfav::before {
    content: "\f487";
}

.myfav.active:hover {
    cursor: pointer;
}

.myfav.selected {
    color: red;
}

.myfav {
    color: lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myproducts {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    cursor: pointer;
}

.ti-close {
    position: fixed;
    top: 30px;
    left: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* .ti-angle-left {
    color: white;
}

.ti-anglr-right {
    color: white;
} */